<div class="content-city">
  <div class="cadre">
    <div class="description-city">
      <div class="top-info">
        <div class="heraldic">
        <%= image_tag (@city.heraldic)%>
        </div>
        <div class= "position">
        <a target="_blank" href=<%= @city.coordinates  %>><%= @city.geocoding %></a>
        </div>
      </div>

      <h1><span><%= @city.name %></span></h1>
      <br>
      <%= @city.description %>
      <p>Par ici ↓</p>
    </div>
  </div>

<div class="gallery">
      <% @city.pictures.order(:position).each do |picture| %>
   <div class="column">
          <%= image_tag picture.url, alt: "alttext" %>
  </div>
      <% end %>
</div>
</div>



