<div class="content-city">
    <div class="top-info">
      <div class="heraldic">
        <%= image_tag ("/assets/blaz_florence.png")%>
       </div>

       <div class= "position">
        <a href="https://fr.wikipedia.org/wiki/V%C3%A9rone#/maplink/0"><%= @city.geocoding %></a>
       </div>
    </div>
    <div class="description-city">
      <h1><span><%= @city.name %></span></h1>
      <br>
      <%= @city.description %>
    </div>

<div class="thumbnails">
<div class="photo">
  <%= image_tag ("/assets/photo1.jpg")%>
  <p>Paysages</p>
</div>


<div class="photo">
    <%= image_tag ("/assets/photo2.jpg")%>
  <p>Città</p>
</div>


<div class="photo">
  <%= image_tag ("/assets/photo3.jpg")%>
  <p>Vita</p>
</div>




</div>
</div>


