<div class="content-city">
  <div class="cadre">
    <div class="description-city">
      <div class="top-info">
        <div class="heraldic">
        <%= image_tag (@city.heraldic)%>
        </div>
        <div class= "position">
        <a target="_blank" href=<%= @city.coordinates  %>><%= @city.geocoding %></a>
        </div>
      </div>

      <h1><span><%= @city.name %></span></h1>
      <br>
      <%= @city.description %>
      <p>Par ici ↓</p>
    </div>
  </div>

  <div class="wrapper">
        <% @city.pictures.order(:position).each do |picture| %>
      <div class="gallery-layout__panel ">
        <div class ="gallery-layout__panel_content">
            <li><%= image_tag picture.url, alt: "alttext" %></li>
        </div>
      </div>
        <% end %>
  </div>

<!-- <ul class="wrapper">
  <li><%=image_tag("image_1")%></li>
  <li class="paysage"><%=image_tag("image_2")%></li>
  <li><%=image_tag("image_3")%></li>
  <li class="paysage"><%=image_tag("image_4")%></li>
  <li><%=image_tag("image_5")%></li>
  <li><%=image_tag("image_6")%></li>
  <li class="paysage"><%=image_tag("image_7")%></li>
  <li class="paysage"><%=image_tag("image_8")%></li>
  <li class="paysage"><%=image_tag("image_9")%></li>
  <li class="paysage"><%=image_tag("image_10")%></li>
  <li><%=image_tag("image_1")%></li>
  <li class="paysage"><%=image_tag("image_2")%></li>
  <li><%=image_tag("image_3")%></li>
  <li class="paysage"><%=image_tag("image_4")%></li>
  <li><%=image_tag("image_5")%></li>
  <li><%=image_tag("image_6")%></li>
  <li class="paysage"><%=image_tag("image_7")%></li>
  <li class="paysage"><%=image_tag("image_8")%></li>
  <li class="paysage"><%=image_tag("image_9")%></li>
  <li class="paysage"><%=image_tag("image_10")%></li>
</ul> -->

