<div class="content-city">
  <div class="cadre">
    <div class="description-city">
      <div class="top-info">
        <div class="heraldic">
        <%= image_tag (@city.heraldic)%>
        </div>
        <div class= "position">
        <a target="_blank" href=<%= @city.coordinates  %>><%= @city.geocoding %></a>
        </div>
      </div>

      <h1><span><%= @city.name %></span></h1>
      <br>
      <%= @city.description %>
      <p>Par ici ↓</p>
    </div>
  </div>

  <!-- <div class="wrapper">
        <% @city.pictures.order(:position).each do |picture| %>

            <li><%= image_tag picture.url, alt: "alttext" %></li>

        <% end %>
  </div> -->

  <!--<ul class="wrapper">
  <!-- <li><%=image_tag("image_1_tim")%></li>
  <li class="big-vertical"><%=image_tag("image_2_sculptures")%></li>
  <li><%=image_tag("image_3_arc")%></li>
  <li class="paysage"><%=image_tag("image_4_jardin")%></li>
  <li class="big-vertical"></li>
  <li><%=image_tag("image_6_ange")%></li>
  <li class="big-paysage"><%=image_tag("image_7_majeure")%></li>
  <li class="paysage"><%=image_tag("image_8_bateau")%></li>
  <li class="paysage"><%=image_tag("image_9_romain")%></li>
  <li class="big-paysage"><%=image_tag("image_10_peinture")%></li>

</ul> -->

<div class="wrapper">
   <div class="portrait"><%=image_tag("image_1_tim")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div class="portrait"><%=image_tag("image_2_sculptures")%></div>
   <div class="portrait"><%=image_tag("image_2_sculptures")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div class="portrait"><%=image_tag("image_1_tim")%></div>
   <div><%=image_tag("image_2_sculptures")%></div>
   <div><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div class="zoom"><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   v class="wrapper">
   <div class="portrait"><%=image_tag("image_1_tim")%></div>
   <div class="portrait"><%=image_tag("image_2_sculptures")%></div>
   <div class="portrait"><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   <div><%=image_tag("image_1_tim")%></div>
   <div><%=image_tag("image_2_sculptures")%></div>
   <div><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div class="zoom"><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   v class="wrapper">
   <div class="portrait"><%=image_tag("image_1_tim")%></div>
   <div class="portrait"><%=image_tag("image_2_sculptures")%></div>
   <div class="portrait"><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   <div><%=image_tag("image_1_tim")%></div>
   <div><%=image_tag("image_2_sculptures")%></div>
   <div><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div class="zoom"><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   v class="wrapper">
   <div class="portrait"><%=image_tag("image_1_tim")%></div>
   <div class="portrait"><%=image_tag("image_2_sculptures")%></div>
   <div class="portrait"><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   <div><%=image_tag("image_1_tim")%></div>
   <div><%=image_tag("image_2_sculptures")%></div>
   <div><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div class="zoom"><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   v class="wrapper">
   <div class="portrait"><%=image_tag("image_1_tim")%></div>
   <div class="portrait"><%=image_tag("image_2_sculptures")%></div>
   <div class="portrait"><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   <div><%=image_tag("image_1_tim")%></div>
   <div><%=image_tag("image_2_sculptures")%></div>
   <div><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div class="zoom"><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   v class="wrapper">
   <div class="portrait"><%=image_tag("image_1_tim")%></div>
   <div class="portrait"><%=image_tag("image_2_sculptures")%></div>
   <div class="portrait"><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div class="portrait"><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
   <div><%=image_tag("image_1_tim")%></div>
   <div><%=image_tag("image_2_sculptures")%></div>
   <div><%=image_tag("image_3_arc")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_5_jardin")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div class="zoom"><%=image_tag("image_7_majeure")%></div>
   <div><%=image_tag("image_8_bateau")%></div>
   <div><%=image_tag("image_10_peinture")%></div>
   <div><%=image_tag("image_9_romain")%></div>
   <div><%=image_tag("image_6_ange")%></div>
   <div>Twelve</div>
</div>





