<div class="content-city">
  <div class="cadre">
     <div class="top-info">
      <div class="heraldic">
      <%= image_tag (@city.heraldic)%>
      </div>

      <div class= "position">
      <a href=<%= @city.coordinates  %>><%= @city.geocoding %></a>
      </div>
    </div>

      <div class="description-city">

        <h1><span><%= @city.name %></span></h1>
        <br>
        <%= @city.description %>
      </div>




    <p>Par ici ↓</p>

  <!--   <div class="thumbnails">
      <div class="photo">
      </div>
    </div> -->
 <!--  <div class="photo">
    <%= image_tag ("/assets/photo3.jpg")%>

  </div> -->
</div>

<%= cl_image_tag("https://res.cloudinary.com/dhehntw3i/image/upload/v1504870238/sample.jpg",
      width: 100, height: 150, crop: :fill) %>

<div class="gallery">
  <div class="column">
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-1.jpg")%>
    <%= image_tag ("/assets/flo-3.jpg")%>
    <%= image_tag ("/assets/flo-4.jpg")%>
    <%= image_tag ("/assets/flo-5.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
    <%= image_tag ("/assets/flo-8.jpg")%>
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-10.jpg")%>
    <%= image_tag ("/assets/flo-11.jpg")%>
    <%= image_tag ("/assets/flo-12.jpg")%>
  </div>
   <div class="column">
     <%= image_tag ("/assets/flo-13.jpg")%>
    <%= image_tag ("/assets/flo-14.jpg")%>
    <%= image_tag ("/assets/flo-15.jpg")%>
    <%= image_tag ("/assets/flo-16.jpg")%>
    <%= image_tag ("/assets/flo-17.jpg")%>
    <%= image_tag ("/assets/flo-18.jpg")%>
    <%= image_tag ("/assets/flo-19.jpg")%>
    <%= image_tag ("/assets/flo-20.jpg")%>
    <%= image_tag ("/assets/flo-21.jpg")%>
    <%= image_tag ("/assets/flo-22.jpg")%>
    <%= image_tag ("/assets/flo-23.jpg")%>
  </div>
  <div class="column">
    <%= image_tag ("/assets/flo-24.jpg")%>
    <%= image_tag ("/assets/flo-25.jpg")%>
    <%= image_tag ("/assets/flo-26.jpg")%>
    <%= image_tag ("/assets/flo-27.jpg")%>
    <%= image_tag ("/assets/flo-28.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
  </div>
  <div class="column">
    <%= image_tag ("/assets/flo-8.jpg")%>
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-10.jpg")%>
    <%= image_tag ("/assets/flo-4.jpg")%>
    <%= image_tag ("/assets/flo-5.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
  </div>

   </div>
  </div>
  </div>

</div>



