<div class="content-city">
  <div class="cadre">
    <div class="description-city">
      <div class="top-info">
        <div class="heraldic">
        <%= image_tag (@city.heraldic)%>
        </div>
        <div class= "position">
        <a href=<%= @city.coordinates  %>><%= @city.geocoding %></a>
        </div>
      </div>

      <h1><span><%= @city.name %></span></h1>
      <br>
      <%= @city.description %>
      <p>Par ici ↓</p>
    </div>
  </div>



<!--
<%= cl_image_tag("https://res.cloudinary.com/dhehntw3i/image/upload/v1504870238/sample.jpg")%> -->

<div class="gallery">
  <div class="column">
    <%= cl_image_tag(@city.picture)%>
    <%= image_tag ("/assets/1.jpg")%>
    <%= image_tag ("/assets/4.jpg")%>
    <%= image_tag ("/assets/7.jpg")%>
    <%= image_tag ("/assets/10.jpg")%>
    <%= image_tag ("/assets/13.jpg")%>
    <%= image_tag ("/assets/16.jpg")%>
    <%= image_tag ("/assets/19.jpg")%>
  </div>
   <div class="column">
    <%= image_tag ("/assets/2.jpg")%>
    <%= image_tag ("/assets/5.jpg")%>
    <%= image_tag ("/assets/8.jpg")%>
    <%= image_tag ("/assets/11.jpg")%>
    <%= image_tag ("/assets/14.jpg")%>
    <%= image_tag ("/assets/17.jpg")%>
  </div>
  <div class="column">
  <%= image_tag ("/assets/3.jpg")%>
    <%= image_tag ("/assets/6.jpg")%>
    <%= image_tag ("/assets/9.jpg")%>
    <%= image_tag ("/assets/12.jpg")%>
    <%= image_tag ("/assets/15.jpg")%>
    <%= image_tag ("/assets/18.jpg")%>
  </div>

  </div>
</div>




