<div class="content-city">
    <div class="top-info">
      <div class="heraldic">
        <%= image_tag (@city.heraldic)%>
       </div>

       <div class= "position">
      <!--   <a href="https://goo.gl/maps/SCVdsKrtJpM2"><%= @city.geocoding %></a> -->
        <a href=<%= @city.coordinates  %>><%= @city.geocoding %></a>
       </div>
    </div>
    <div class="description-city">
      <h1><span><%= @city.name %></span></h1>
      <br>
      <%= @city.description %>
    </div>

<div class="thumbnails">
  <div class="photo">
    <%= image_tag (@city.picture)%>
    <p>→ ici...</p>
  </div>

 <!--  <div class="photo">
    <%= image_tag ("/assets/photo3.jpg")%>

  </div> -->
</div>

  <ul class="photo">
    <%= image_tag ("/assets/flo-1.jpg")%>
    <%= image_tag ("/assets/flo-2.jpg")%>
    <%= image_tag ("/assets/flo-3.jpg")%>
    <%= image_tag ("/assets/flo-4.jpg")%>
    <%= image_tag ("/assets/flo-5.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
    <%= image_tag ("/assets/flo-8.jpg")%>
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-10.jpg")%>
     <%= image_tag ("/assets/flo-1.jpg")%>
    <%= image_tag ("/assets/flo-2.jpg")%>
    <%= image_tag ("/assets/flo-3.jpg")%>
    <%= image_tag ("/assets/flo-4.jpg")%>
    <%= image_tag ("/assets/flo-5.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
    <%= image_tag ("/assets/flo-8.jpg")%>
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-10.jpg")%>
     <%= image_tag ("/assets/flo-1.jpg")%>
    <%= image_tag ("/assets/flo-2.jpg")%>
    <%= image_tag ("/assets/flo-3.jpg")%>
    <%= image_tag ("/assets/flo-4.jpg")%>
    <%= image_tag ("/assets/flo-5.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
    <%= image_tag ("/assets/flo-8.jpg")%>
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-10.jpg")%>
     <%= image_tag ("/assets/flo-1.jpg")%>
    <%= image_tag ("/assets/flo-2.jpg")%>
    <%= image_tag ("/assets/flo-3.jpg")%>
    <%= image_tag ("/assets/flo-4.jpg")%>
    <%= image_tag ("/assets/flo-5.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
    <%= image_tag ("/assets/flo-8.jpg")%>
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-10.jpg")%>
     <%= image_tag ("/assets/flo-1.jpg")%>
    <%= image_tag ("/assets/flo-2.jpg")%>
    <%= image_tag ("/assets/flo-3.jpg")%>
    <%= image_tag ("/assets/flo-4.jpg")%>
    <%= image_tag ("/assets/flo-5.jpg")%>
    <%= image_tag ("/assets/flo-6.jpg")%>
    <%= image_tag ("/assets/flo-7.jpg")%>
    <%= image_tag ("/assets/flo-8.jpg")%>
    <%= image_tag ("/assets/flo-9.jpg")%>
    <%= image_tag ("/assets/flo-10.jpg")%>
  </ul>
</div>



