<div class="content-province">
  <div>
    <h1><span><%= @province.name %></span></h1>
    <br>
    <div class="description-province">
    <%= @province.description %>
    </div>
 </div>
  <br>
  <div>
    <ul class="town-list">
      <% @province.cities.each do |city| %>
                <!--  pour toutes les villes de la province en param do  -->
      <ul>
        <div class="heraldic">
          <!--<%= image_tag ("/assets/blaz_florence.png")%>-->
          <%=link_to image_tag(city.heraldic), province_city_path(@province, city)%>
           <!-- How to make this an href clickable -->
           <div class="city-tag">
            <%= link_to city.name, province_city_path(@province, city)  %>
          </div>
        </div>
      <!--  mettre le nom de la ville + redirection URL page dans son nom -->
      </ul>
      <% end %>
    </ul>
  </div>
</div>


