<!DOCTYPE html>
<html>
  <head>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133277926-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133277926-1');
    </script>

    <meta name="google-site-verification" content="NoQXliDVgxhAzNz8xXIp3n2pA9A1L5-0SUKUTSWggk8" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Italove</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
     <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body class="body">

  <div class="new-nav">
    <% Province.all.each do |province| %>
      <%= link_to province.name, province_path(province)  %>
    <% end %>
  </div>

  <%= yield %>


  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

  </body>
</html>
