<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body class="body">
    <div class="navbar">
      <% Province.all.each do |province| %>
      <!--  pour toutes les provinces  -->
        <ul>
          <li class="region">
           <%= link_to province.name, province_path(province)  %>
             <!--  mettre le nom de la province + redirection URL page -->
             <% province.cities.each do |city| %>
              <!--  pour toutes les villes des provinces  -->
              <ul class="villes">
                <%= link_to city.name, city_path(city)  %>
                <!--  mettre le nom de la ville + redirection URL page -->
              </ul>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
